* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  margin-left: 5px;
}

.main--header {
    display: flex;
    align-items: center;
    height: 65px;
    background: #6699ff;
    color: white;
    padding: 20px;
}

.label--form {
  margin-right: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #1b1e20;
}

.input--form {
  margin-top: 4px;
  margin-bottom: 4px;
}

.link--student {
  color: #1b1e20;
  background: transparent;
  border-color: #343a40;
  cursor: pointer;
  border-width: 1px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.button--update {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

img {
  width: 100%;
}

.upload--button {
  margin-top: 10px;
  margin-bottom: auto;
}
